.cont-btn{
    display: flex;
    flex-direction:row;
    justify-content: center;   
    align-items: flex-end;
    margin-top: -12%;
 
  }
  .close-btn{
   position: absolute;
   top: 0;
   margin-left: 99%;
   margin-top: -6px;
   border-radius: 20%;
   background-color: black;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
   border: none;
   color: bisque;
   
  }
  .love-cont{
    display: flex;
    align-self: flex-end;
    margin-top: auto;
   
  }
  .love-btn{
    background-color: black;
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    margin-left: 40%;
    margin-top: 30%;
    border-radius: 45%;
    border: white;
    
  }