.card{
    display: inline-block;
    width: calc(25% -5px);
    height: 20%;
    padding: 1% 1.2%;
    border: 5px outset #cae2d2;
    border-radius: 10%;
    margin: 3% 1%;
    position: relative;
    background-image: url('../public/images/stars-7088.gif');
    
 }
 .nav-link{
  text-decoration: none;
 }
 h3{
  color: #cae2d2 ;
  font-size: 1.2rem;
  margin-top: 30px;
  font-weight: bold;
  text-decoration: none;
 }
 h3:hover{
   color: orange;
 }
 h2{
  color: #cae2d2 ;
  font-size: 1.2rem;
  margin-top: -5%;
  font-weight: bold;
 }
 
 .img-base{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    border-radius: 50%;
 }