.search-bar{
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem;

}
.search-btn{
  background-color: #EA047E;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
  .search-input {
    flex-grow: 1; /* El campo de entrada ocupa todo el espacio disponible */
    padding: 8px;
    border: none;
    border-radius: 5px;
  }